<div class="main top-main">
  <div class="top-message">
    <h2>TweetApp on Ruby no Rails</h2>
    <p>Limited release by</p>
    <div class="link">
      <a href="https://github.com/rukiii4444">rukiii4444</a>
    </div>
  </div>
</div>
